@import '../../styles/variables.module.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
  .title {
    color: white;
    font-family: PoppinsLight;
    font-size: 1.5rem;
    @media (min-width: $tablet) {
      font-size: 1.5rem;
    }
    @media (min-width: $desktop) {
      font-size: 2rem;
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    input {
      border-radius: 32px;
      margin: 5px;
      padding: 10px;
      border: 1px solid white;
      outline: none;
      width: -moz-available; /* WebKit-based browsers will ignore this. */
      width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
      width: fill-available;
      &::placeholder {
        text-align: center;
        color: #00c9ff;
      }
      &.error {
        border: 1px solid red;
        &::placeholder {
          color: red;
          font-size: 10px;
          @media (min-width: $tablet) {
            font-size: 12px;
          }
          @media (min-width: $desktop) {
            font-size: 16px;
          }
        }
      }
    }
    button {
      width: max-content;
      align-self: center;
      outline: none;
      background-color: white;
      font-family: PoppinsBold;
      color: #00c9ff;
      letter-spacing: 1px;
      padding: 10px 30px;
      margin-top: 50px;
      border-radius: 32px;
      border: none;
      cursor: pointer;
      font-size: 14px;
      @media (min-width: $tablet) {
        font-size: 16px;
      }
      @media (min-width: $desktop) {
        font-size: 18px;
      }
    }
    .nameCell {
      display: flex;
      .field {
        width: 50%;
      }
    }
    .message {
      height: 200px;
    }
    .errorMsg {
      color: white;
      height: 14px;
      text-align: center;
      font-size: 10px;
      @media (min-width: $tablet) {
        height: 16px;
        font-size: 12px;
      }
      @media (min-width: $desktop) {
        height: 20px;
        font-size: 16px;
      }
    }
    .checkbox {
      display: flexbox;
      input {
        width: min-content;
      }
      span {
        color: white;
        font-size: 10px;
        @media (min-width: $tablet) {
          font-size: 12px;
        }
        @media (min-width: $desktop) {
          font-size: 16px;
        }
      }
    }
  }
}
